<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <title>Load Balancer Monitor</title>
    <meta name="description" content="">
    <meta name="author" content="">

  	<link rel="stylesheet" href="/static/css/jquery-ui.min.css">
    <script src="/static/js/jquery-3.0.0.js" type="text/javascript"></script>
    <script src="/static/js/jquery-ui.min.js" type="text/javascript"></script>
    <script src="/static/js/Chart.min.js" type="text/javascript"></script>

    <script>
	    var charttemplate = {
		    type: 'line',
		    data: {
		        datasets: [{}]
		    },
		    options: {
		        scales: {
		            xAxes: [{
		                type: 'linear',
		                position: 'bottom'
		            }]
		        },
		        animation : false,
		        maintainAspectRatio: false

		    }
		}

		function commandinfo(command) {

            var data = {iwouldlike: "COMMAND", name:command};

            var dataToSend = JSON.stringify(data);

            $.ajax(
                    {
                        url: '/jsontoLB/',
                        type: 'POST',
                        data: dataToSend,

                        success: function (jsonResponse) {
                        	console.log("commandinfo success");
                            var objresponse = JSON.parse(jsonResponse);
                            var chartdata = charttemplate
                            var ctx = $("#commandsChart");
                            console.log(objresponse);

                           	chartdata["data"]["datasets"] = 	[{
           			            label: objresponse.command,
           			            borderColor: "rgba(75,192,192,0)",
           			            backgroundColor: "rgba(75,192,192,1)",
           			            pointBorderColor: "rgba(75,192,192,1)",
           			            pointBackgroundColor: "rgba(75,192,192,1)",
           			            fill: false,
           			            pointHoverRadius: 5,
           			            data: objresponse.timepoints

                           	},
           			        {
           			            label: objresponse.command + " estimation",
           			            borderColor: "rgba(192,75,192,1)",
           			            backgroundColor: "rgba(192,75,192,1)",
           			            pointBorderColor: "rgba(192,75,192,0)",
           			            pointBackgroundColor: "rgba(192,75,192,0)",
           			            fill: false,
           			            pointHoverRadius: 5,
           			            data: objresponse.esttimepoints
           			        }
           		        	];

                            var scatterChart = new Chart(ctx, chartdata);

                        },
                        error: function () {
                        	console.log("Command Info : Error loading JSON data");

                        },
                        complete: function() {
                        	console.log("command info complete");
                        }
                    });
		}; //End function commandinfo

		$(document).ready(function () {

            // initialize the viewer
			(function worker() {

                var data = {iwouldlike: "WORKERS",};

                var dataToSend = JSON.stringify(data);

                $.ajax(
                        {
                            url: '/jsontoLB/',
                            type: 'POST',
                            data: dataToSend,

                            success: function (jsonResponse) {

                                var objresponse = JSON.parse(jsonResponse);

                                $('#workerstable').find("tr:gt(0)").remove();
                                $.each(objresponse.workers, function (i, worker) {
                                    $('<tr id="priority'+worker.workerpriority+'">').append(
                                    $('<td>').text(worker.workerid),
                                    $('<td>').text(worker.workerip),
                                    $('<td>').text(worker.workerport),
                                    $('<td>').text(worker.workerhealthport),
                                    $('<td width="100px">').html('<div class="progresscontainer"><div style="width:'+worker.workerCPU+'%; background-color: #DB3946;">'+worker.workerCPU+'</div></div>'),
                                    $('<td>').text(worker.workertask),
                                    $('<td width="100px">').html('<div class="progresscontainer"><div style="width:'+worker.workerdone+'%; background-color: #90ed7d;">'+worker.workerdone+'</div></div>')
                                    ).appendTo('#workerstable');
                                });




                                $.each(objresponse.queues, function (i, queue) {

                                	if($("#queuesnames #" + queue).length == 0) {
									  //The queue doesn't exists yet
									    $('#queuesnames').append('<th id="'+queue+'">' + queue + '</th>');
	                                	$('#queuesqueuing').append('<td id="'+queue+'">' + objresponse[queue].queuingtasks + '</td>');
	                                	$('#queuesdone').append('<td id="'+queue+'">' + objresponse[queue].donetasks + '</td>');

	                                	$('#queuesfirstWT').append('<td id="'+queue+'">' + objresponse[queue].queuetime.toFixed(2) + 's</td>')
										$('#queuesestWT').append('<td id="'+queue+'">' + objresponse[queue].totalesttime.toFixed(2) + 's</td>')
										$('#queuesmeanWT').append('<td id="'+queue+'">' + objresponse[queue].meantime.toFixed(2) + 's</td>')
										$('#queuesmaxWT').append('<td id="'+queue+'">' + objresponse[queue].maxtime.toFixed(2) + 's</td>')

										$('#highP').append('<td id="'+queue+'">' + objresponse[queue].highP + '</td>')
										$('#lowP').append('<td id="'+queue+'">' + objresponse[queue].lowP + '</td>')
										$('#availworkers').append('<td id="'+queue+'">' + objresponse[queue].availworkers + '</td>')

										if (objresponse[queue].highP) {
											$("#highP #" + queue).css('background-color', '#e2f8e2');
											}
									}
                                	else{
                                		//The queue exists
                                		$("#queuesqueuing #" + queue).text(objresponse[queue].queuingtasks)
                                		$("#queuesdone #" + queue).text(objresponse[queue].donetasks)
										$("#queuesfirstWT #" + queue).text(objresponse[queue].queuetime.toFixed(2) + 's')
										$("#queuesestWT #" + queue).text(objresponse[queue].totalesttime.toFixed(2) + 's')
										$("#queuesmeanWT #" + queue).text(objresponse[queue].meantime.toFixed(2) + 's')
										$("#queuesmaxWT #" + queue).text(objresponse[queue].maxtime.toFixed(2) + 's')

										$("#highP #" + queue).text(objresponse[queue].highP)
										$("#lowP #" + queue).text(objresponse[queue].lowP)
										$("#availworkers #" + queue).text(objresponse[queue].availworkers)

										if (objresponse[queue].highP) {
											$("#highP #" + queue).css('background-color', '#e2f8e2');
											}
                                	}


                                });




                            },
                            error: function () {
                            	console.log("Error loading JSON data");

                            },
                            complete: function() {
                                // Schedule the next request when the current one's complete
                                setTimeout(worker, 1000);
                            }
                        });
			})(); //End function worker

			(function commands() {

                var data = {iwouldlike: "COMMANDS",};

                var dataToSend = JSON.stringify(data);

                $.ajax(
                        {
                            url: '/jsontoLB/',
                            type: 'POST',
                            data: dataToSend,

                            success: function (jsonResponse) {
                            	console.log("commands success");
                                var objresponse = JSON.parse(jsonResponse);
                                var chartdata = charttemplate
                                var ctx = $("#commandsChart");

                                $.each(objresponse, function (i, command) {
                                	if($("#commandbuttons #" + command).length == 0) {
  									  //The command doesn't exists yet
                                		$('#commandbuttons').append('<button id="'+command+'"onclick="commandinfo(\''+command+'\')">'+command+'</button>');
                                	}
                                });

                            },
                            error: function () {
                            	console.log("Error loading JSON data");

                            },
                            complete: function() {
                            	console.log("commands complete");
                                // Schedule the next request when the current one's complete
                                setTimeout(commands, 10000);
                            }
                        });
			})(); //End function commands



		}); //End Document ready


    </script>


    <style>
        html {
            font: normal 13px "HelveticaNeue-Light", Helvetica, Georgia, sans-serif;
        }

        body {
            font: normal 13px "HelveticaNeue-Light", Helvetica, Georgia, sans-serif;
        }
        h2, h1 {
        	text-align: center;
        }

        th {
            background-color: #303030;
            color: white;
        }
        th,td {
            align: center;
            text-align : center;
            padding : 5px 20px 5px 20px;
        }

        tr:nth-child(1) {
            border: 1px solid #303030;
            }

        #priority0 {
            background-color: #e2f8e2
            }

        #priority10 {
            background-color: #ffffff
            }

        table {
            border: 1px solid #303030;
            overflow-x:auto;
            border-collapse: collapse;
        }
        .progresscontainer {
            width: 100%;
            border: 1px solid rgba(0,0,0,0.2);
            }

    </style>

</head>


<body id="bootstrap-js">
<h1> Load Balancer Monitor</h1>

<div  style="width:47vw; display:inline-block; float:right">
	<h2> Workers </h2>

	<table id="workerstable" align="center" width="100%">
	    <tr>
	        <th>Name</th>
	        <th>IP</th>
	        <th>LB Port</th>
	        <th>HC Port</th>
	        <th>CPU</th>
	        <th>Task</th>
	        <th>Done</th>
	    </tr>
	</table>
</div>

<div align="center" style="width:47vw; display:inline-block; float:left">
<h2> Statistics </h2>
	<table id="queuestable" max-width="100%">
		<tr id="queuesnames">
			<th>&nbsp;</th>
		</tr>
		<tr id="queuesqueuing">
			<td>Queuing Tasks</td>
		</tr>
		<tr id="queuesdone">
			<td>Done Tasks</td>
		</tr>
		<tr id="queuesfirstWT">
			<td>Current Waiting Time</td>
		</tr>
		<tr id="queuesestWT">
			<td>New Task Estimated Waiting Time</td>
		</tr>
		<tr id="queuesmeanWT">
			<td>Mean Waiting Time</td>
		</tr>
		<tr id="queuesmaxWT">
			<td>Max Waiting Time</td>
		</tr>
		<tr id="highP">
			<td>High Priority Workers</td>
		</tr>
		<tr id="lowP">
			<td>Low Priority Workers</td>
		</tr>
		<tr id="availworkers">
			<td>Available Workers</td>
		</tr>
	</table>
</div>




<div align="center" id="tabs" style="width:47vw; display:inline-block; float:left">
	<h2> Learned Calculation Times </h2>
	<div id="commandbuttons"></div>
    <div style="width:47vw; height:50vh"><canvas id="commandsChart" width="100%" height="100%"></canvas></div>
</div>




</body>
</html>
