<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <title>Load Balancer Monitor</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <script src="/static/js/jquery-3.0.0.js" type="text/javascript"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>

    <script>
		var taskNames = []
		$(document).ready(function () {

            $.ajaxSetup({ cache: false });
            var wkDoneOptions = {
                	chart: {
                		renderTo: 'wkDoneContainer',
                        type: 'column'
                    },
                    exporting: { enabled: false },
                    credits: { enabled: false },
                    legend: {
                        layout: 'horizontal',
                        align: 'right',
                        verticalAlign: 'top'
                    },
                    title: {
                        text: 'Task Done'
                    },
                    xAxis: {
                        categories: ['wk01', 'wk02', 'wk03', 'wk04', 'wk05']
                    },
                    yAxis: {
                        min: 0,
                        title: {
                            text: '% Done'
                        }
                    },
                    tooltip: {
                        pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.percentage:.0f}%</b><br/>',
                        shared: true
                    },
                    plotOptions: {
                        column: {
                            stacking: 'percent'
                        }
                    },
                    series: [{
                    	name: 'Remaining',
                    	color: '#434348',
                        data: [50, 70, 20, 0, 90],
                    	pointPadding: 0, // Defaults to 0.1
                    	groupPadding: 0.01 // Defaults to 0.2
                    }, {
                    	name: 'PercentDone',
                    	color: '#90ed7d',
                        data: [50, 30, 20, 100, 10],
                        pointPadding: 0,
                    	groupPadding: 0.01,
                       	dataLabels: {
	                       		formatter: function() {
	                                return taskNames[this.series.data.indexOf( this.point )];
	                            },
                               enabled: true,
                               color: 'black',
                               style: {
                                   textShadow: '0 0 3px white'
                               }
                           }
                    }]}

            var wkCPUOptions = {
                	chart: {
                		renderTo: 'wkCPUContainer',
                        type: 'column'
                    },
                    exporting: { enabled: false },
                    credits: { enabled: false },
                    legend: {
                        layout: 'horizontal',
                        align: 'right',
                        verticalAlign: 'top'
                    },
                    title: {
                        text: 'CPU load'
                    },
                    xAxis: {
                        categories: ['wk01', 'wk02', 'wk03', 'wk04', 'wk05']
                    },
                    yAxis: {
                        min: 0,
                        max: 100,
                        title: {
                            text: '% CPU'
                        }
                    },
                    tooltip: {
                        pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.percentage:.0f}%</b><br/>',
                        shared: true
                    },
                    plotOptions: {
                        column: {
                            stacking: 'normal',
                            dataLabels: {
                                enabled: true,
                                color: 'black',
                                style: {
                                    textShadow: '0 0 3px white'
                                }
                            }
                        }
                    },
                    series: [{
                    	name: 'CPU',
                    	color: '#DB3946',
                        data: [0, 0, 0, 0, 0],
                    	pointPadding: 0, // Defaults to 0.1
                    	groupPadding: 0.01 // Defaults to 0.2
                    }]}

            var wkDoneChart = new Highcharts.Chart(wkDoneOptions);
            var wkCPUChart = new Highcharts.Chart(wkCPUOptions);




            // initialize the viewer
			(function worker() {

                var data =
                {
                    iwouldlike: "WORKERS",
                };

                var dataToSend = JSON.stringify(data);

                $.ajax(
                        {
                            url: '/test/',
                            type: 'POST',
                            data: dataToSend,

                            success: function (jsonResponse) {
                                var objresponse = JSON.parse(jsonResponse);

                                wkDoneChart.xAxis[0].setCategories(objresponse['Workers']);
                                wkDoneChart.series[0].update({data : objresponse['Remaining']})
								wkDoneChart.series[1].update({data : objresponse['PercentDone']})
								taskNames = objresponse['TaskNames']
								wkCPUChart.xAxis[0].setCategories(objresponse['Workers']);
								wkCPUChart.series[0].update({data : objresponse['CPU']})

                            },
                            error: function () {
                            	console.log("Error loading JSON data");

                            },
                            complete: function() {
                                // Schedule the next request when the current one's complete
                                setTimeout(worker, 1000);
                            }
                        });
			})(); //End function worker

		}); //End Document ready


    </script>


    <style>
        html {
            font: normal 13px "HelveticaNeue-Light", Helvetica, Georgia, sans-serif;
        }

        body {
            font: normal 13px "HelveticaNeue-Light", Helvetica, Georgia, sans-serif;
        }
        h2, h1 {
        	text-align: center;
        }
    </style>

</head>


<body id="bootstrap-js">
<h1> Load Balancer Monitor</h1>

<h2> Workers </h2>

<div id="wkDoneContainer" style="min-width: 310px; width: 80%; height: 200px; margin: 0 auto"></div>
<div id="wkCPUContainer" style="min-width: 310px; width: 80%; height: 200px; margin: 0 auto"></div>


</body>
</html>





